.destination__container {
  width: 1170px;
  margin: 0 auto;
  padding-top: 200px;
}

.destination__title {
  width: 358px;
  margin: 0;
  margin-bottom: 63px;
  font-size: 55px;
  line-height: 80px;
  font-weight: 600;
  font-style: normal;
  color: #2C2E3F;
  letter-spacing: -1.2px;
}

.destination__description {
  width: 328px;
  margin: 0;
  margin-bottom: 55px;
  font-size: 16px;
  line-height: 28px;
  font-weight: normal;
  font-style: normal;
  color: rgba(44, 46, 63, 0.7);
  letter-spacing: -0.5px;
}

.destination__list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
}

.destination__item {
  width: 350px;
  height: 430px;
  margin-bottom: 100px;
  position: relative;
}

.destination__link {
  display: block;
}

.destination__popup {
  width: 350px;
  height: 430px;
  background-color: rgba(20, 21, 23, 0.6);
  position: absolute;
  top: 0;
  left: 0;
  display: none;
}

.destination__popup-link {
  width: 266px;
  padding-top: 30px;
  padding-bottom: 30px;
  margin-bottom: 152px;
  margin: auto;
  display: flex;
  justify-content: center;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.7);
  font-size: 14px;
  line-height: 17px;
  font-weight: 500;
  font-style: normal;
  color: #FFFFFF;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 2px;
}

.destination__item:hover .destination__popup {
  display: flex;
}

