.destination__container {
  width: 60.94vw;
  margin: 0 auto;
  padding-top: 200px;
}

.destination__title {
  width: 358px;
  margin: 0;
  margin-bottom: 63px;
  font-size: 55px;
  line-height: 80px;
  font-weight: 600;
  font-style: normal;
  color: #2C2E3F;
  letter-spacing: -1.2px;
  position: relative;
  &::after {
    content: "";
    width: 228px;
    height: 4px;
    background-color: #FE7865;
    position: absolute;
    bottom: -32px;
    left: 0;
  }
}

.destination__description {
  width: 328px;
  margin: 0;
  margin-bottom: 55px;
  font-size: 16px;
  line-height: 28px;
  font-weight: normal;
  font-style: normal;
  color: rgba(44, 46, 63, 0.7);
  letter-spacing: -0.5px;
}

.destination__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 0;
  padding: 0;
  list-style: none;
}

.destination__item {
  margin-bottom: 100px;
  position: relative;
}

.destination__link {
  display: block;
  text-decoration: none;
  text-transform: none;
}

.destination__image {
  width: 350px;
  height: 430px;
}

.destination__name {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 215px;
  height: 61.56px;
  font-size: 24px;
  line-height: 29px;
  font-weight: 500;
  font-style: normal;
  color: #2C2E3F;
  background-color: #FFFFFF;
  position: absolute;
  bottom: 0;
  left: 68px;
  z-index: 5;
}

.destination__popup {
  width: 350px;
  height: 430px;
  background-color: rgba(20, 21, 23, 0.6);
  position: absolute;
  top: 0;
  left: 0;
  display: none;
}

.destination__popup-link {
  width: 266px;
  padding-top: 30px;
  padding-bottom: 30px;
  margin-bottom: 152px;
  margin: auto;
  display: flex;
  justify-content: center;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.7);
  font-size: 14px;
  line-height: 17px;
  font-weight: 500;
  font-style: normal;
  color: #FFFFFF;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 2px;
}

.destination__item:hover .destination__popup {
  display: flex;
}

@media (max-width: @tablet-width) {
  .destination__container {
    width: 768px;
    padding-top: 80px;
    padding-right: 81px;
    padding-left: 81px;
  }

  .destination__title {
    width: auto;
    margin: 0 auto;
    margin-bottom: 20px;
    font-size: 30px;
    line-height: 45px;
    text-align: center;
    letter-spacing: normal;
    &::after {
      display: none;
    }
  }

  .destination__description {
    width: 343px;
    margin: 0 auto;
    margin-bottom: 40px;
    text-align: center;
  }

  .destination__item {
    margin: 0;
    margin-bottom: 20px;
  }

  .destination__image {
    width: 288px;
    height: 425px;
  }
}

@media (max-width: @mobile-width) {
  .destination__container {
    display: block;
    width: 100%;
    padding-right: 16px;
    padding-left: 16px;
  }

  .destination__title {
    font-size: 24px;
    line-height: 36px;
  }

  .destination__description {
    width: 100%;
    margin-bottom: 20px;
    text-align: center;
  }

  /* .destination__list {
    justify-content: space-around;
  } */

  .destination__item {
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 31px;

    &:nth-child(3n) {
      margin-right: auto;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

}
