.footer__container {
  width: 1148px;
  margin: 0 auto;
  padding-top: 170px;
  display: flex;
}

.footer__journey {
  width: 33.33%;
  display: flex;
  flex-wrap: wrap;
}

.footer__title {
  margin: 0;
  margin-bottom: 20px;
  width: 100%;
  font-size: 18px;
  line-height: 32px;
  font-weight: 600;
  font-style: normal;
  color: #141517;
}

.footer__list {
  margin: 0;
  margin-right: 50px;
  padding: 0;
  list-style: none;
  &:last-child {
    margin-right: 0;
  }
}

.footer__item {
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 17px;
  font-weight: normal;
  font-style: normal;
  color: rgba(20, 21, 23, 0.5);
  &:last-child {
    margin-bottom: 0;
  }
}

.footer__contacts {
  width: 33.33%;
}

.footer__corporate {
  width: 33.33%;
}
