.footer__container {
  width: 95%;
  max-width: 1148px;
  margin: 0 auto;
  padding-top: 170px;
  padding-bottom: 75px;
  display: flex;
  flex-wrap: wrap;
}

.footer__journey {
  width: 33.88%;
  margin-bottom: 30px;
  padding-right: 2.03vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  border-right: 1px solid #D7D9DF;
}

.footer__title {
  margin: 0;
  margin-bottom: 20px;
  width: 100%;
  font-size: 18px;
  line-height: 32px;
  font-weight: 600;
  font-style: normal;
  color: #141517;
}

.footer__list {
  margin: 0;
  padding: 0;
  list-style: none;
  &:last-child {
    margin-right: 0;
  }
}

.footer__item {
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 17px;
  font-weight: normal;
  font-style: normal;
  color: rgba(20, 21, 23, 0.5);
  &:last-child {
    margin-bottom: 0;
  }
}

.footer__contacts {
  width: 33.97%;
  padding-left: 4.69vw;
  border-right: 1px solid #D7D9DF;
}

.footer__contact-mail {
  margin-bottom: 19px;
  margin-left: 41px;
  display: block;
  font-size: 14px;
  line-height: 17px;
  font-weight: normal;
  font-style: normal;
  color: #FE7865;
  position: relative;
  &::before {
    content: "";
    width: 26px;
    height: 20px;
    background-image: url("../img/mail.svg");
    background-repeat: no-repeat;
    position: absolute;
    top: 0;
    left: -39px;
  }
}

.footer__contact-tel {
  display: block;
  margin-left: 41px;
  font-size: 16px;
  line-height: 32px;
  font-weight: normal;
  font-style: normal;
  color: #FE7865;
  position: relative;
  &::before {
    content: "";
    width: 30px;
    height: 30px;
    background-image: url("../img/gray-phone.svg");
    background-repeat: no-repeat;
    position: absolute;
    top: 0;
    left: -39px;
  }
}

.footer__corporate {
  width: 32.14%;
  padding-left: 2.55vw;
}

.footer__description {
  margin: 0;
  font-size: 14px;
  line-height: 24px;
  font-weight: normal;
  font-style: normal;
  color: rgba(20, 21, 23, 0.5);
}

@media (max-width: @tablet-width) {
  .footer__container {
    width: 100%;
    padding-top: 80px;
    padding-right: 21px;
    padding-bottom: 50px;
    padding-left: 21px;
  }

  .footer__journey {
    width: 51.43vw;
    padding-right: 6.51vw;
  }

  .footer__list {
    margin-right: 3.91vw;
  }

  .footer__contacts {
    width: 43.1vw;
    padding-left: 6.51vw;
    border-right: none;
  }

  .footer__corporate {
    width: 100%;
    padding: 0;
    padding-top: 30px;
    border-top: 1px solid #D7D9DF;
  }

  .footer__title--corporate {
    text-align: center;
  }

  .footer__description {
    text-align: center;
  }

}

@media (max-width: @mobile-width) {
  .footer__container {
    padding-right: 12px;
    padding-bottom: 35px;
    padding-left: 12px;
  }

  .footer__title {
    text-align: center;
  }

  .footer__journey {
    width: 100%;
    justify-content: space-around;
    padding-right: 0;
    padding-bottom: 20px;
    border-right: none;
    border-bottom: 1px solid #D7D9DF;
  }

  .footer__list {
    width: 134px;
    margin-right: 0;
  }

  .footer__item {
    text-align: center;
  }

  .footer__contacts {
    width: 100%;
    padding-left: 0;
  }

  .footer__contact-mail {
    margin-bottom: 15px;
    text-align: center;
  }

  .footer__contact-tel {
    margin-bottom: 20px;
    text-align: center;
  }

  .footer__corporate {
    margin-top: 0;
  }

}
