.header__container {
  width: 1155px;
  margin: 0 auto;
  padding-top: 39px;
  padding-bottom: 32px;
  display: flex;
  justify-content: flex-start;
}

.header__logo {
  margin-right: 622px;
}

.header__tel {
  margin-right: 0;
  margin-left: auto;
  font-size: 18px;
  line-height: 29px;
  font-weight: normal;
  font-style: normal;
  color: #FE7865;
}
