.header__container {
  width: 1155px;
  margin: 0 auto;
  padding-top: 39px;
  padding-bottom: 32px;
  display: flex;
}

.header__logo {
  display: flex;
  margin-right: 622px;
}

.header__tel {
  margin-right: 0;
  margin-left: auto;
  font-size: 18px;
  line-height: 29px;
  font-weight: normal;
  font-style: normal;
  color: #FE7865;
}

@media (max-width: @tablet-width) {
  .header__container {
    width: 100%;
    padding-top: 0;
    padding-bottom: 0;
  }

  .header__logo {
    margin-right: 0;
    margin-top: 18px;
    margin-bottom: 14px;
    margin-left: 21px;
  }

  .header__logo-image {
    width: 44px;
    height: 17px;
  }

  .header__tel {
    display: none;
  }
}


@media (max-width: @mobile-width) {
  .header__logo {
    margin-left: 16px;
  }
}
