.help {
  padding-top: 109px;
}

.help__container {
  width: 1170px;
  margin: 0 auto;
  margin-right: 363px;
  margin-left: 387px;
  padding-top: 70px;
  padding-bottom: 70px;
  background-image: url("../../img/form-back.jpg");
  background-size: 844px 455px;
  background-repeat: no-repeat;
  background-position: left;
}

.help__form {
  width: 656px;
  margin-right: 0;
  margin-left: auto;
  padding: 50px;
  background-color: #FFFFFF;
}

.help__title {
  width: 350px;
  margin: 0 auto;
  margin-bottom: 11px;
  font-size: 25px;
  line-height: 32px;
  font-weight: 600;
  font-style: normal;
  color: #141517;
}

.help__description {
  width: 557px;
  margin: 0 auto;
  margin-bottom: 24px;
  font-size: 16px;
  line-height: 24px;
  font-weight: normal;
  font-style: normal;
  color: #141517;
  text-align: center;
}

.help__fieldset {
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;
}

.help__input {
  width: 269px;
  padding: 15px;
}

.help__button {
  width: 176px;
  min-height: 50px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #FE7865;
  border: none;
  font-size: 12px;
  line-height: 15px;
  font-weight: bold;
  font-style: normal;
  color: #FFFFFF;
  letter-spacing: 2px;
  text-transform: uppercase;
}
