.price__container {
  width: 96%;
  max-width: 1180px;
  margin: 0 auto;
  padding-top: 239px;
  display: flex;
  flex-wrap: wrap;
}

.price__about {
  width: 25.42%;
  margin-left: auto;
  padding-top: 112px;
  order: 3;
}

.price__about-title {
  margin: 0;
  margin-bottom: 48px;
  font-size: 55px;
  line-height: 90px;
  font-weight: 600;
  font-style: normal;
  color: #2C2E3F;
  position: relative;
  &::after {
    content: "";
    width: 175px;
    height: 2.92px;
    background-color: #FE7865;
    position: absolute;
    bottom: -17px;
    left: 0;
  }
}

.price__about-description {
  margin: 0;
  margin-bottom: 60px;
  font-size: 16px;
  line-height: 27px;
  font-weight: normal;
  font-style: normal;
  color: rgba(44, 46, 63, 0.7);
}

.price__contact {
  padding-left: 2.4vw;
}

.price__contact-title {
  margin: 0;
  margin-bottom: 13px;
  font-size: 22px;
  line-height: 34px;
  font-weight: 500;
  font-style: normal;
  color: #141517;
}

.price__contact-tel {
  font-size: 20px;
  line-height: 32px;
  font-weight: normal;
  font-style: normal;
  color: #000000;
  text-decoration: none;
  position: relative;
  &::before {
    content: "";
    width: 30px;
    height: 30px;
    background-image: url("../../img/orange-phone.svg");
    background-repeat: no-repeat;
    position: absolute;
    top: -5px;
    left: -2.6vw;
  }
}

.price__type {
  width: 31.35%;;
  margin-right: 1.56vw;
  padding-top: 39px;
  padding-right: 2.6%;
  padding-bottom: 30px;
  padding-left: 2.3%;
  border: 1px solid rgba(44, 46, 63, 0.3);
  border-radius: 6px;
  &:hover {
    border: 3px solid #FE7865;
  }
}

.price__type-title {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0;
  margin-bottom: 38px;
  font-size: 28px;
  line-height: 38px;
  font-weight: 600;
  font-style: normal;
  color: rgba(20, 21, 23, 0.7);
  letter-spacing: -1.3px;
}

.price__type:hover .price__type-title {
  line-height: 34px;
  color: #FE7865;
}

.price__type-count {
  font-size: 25px;
  font-weight: bold;
  font-style: normal;
}


.price__type-description {
  margin: 0;
  margin-bottom: 27px;
  font-size: 16px;
  line-height: 24px;
  font-weight: normal;
  font-style: normal;
  color: #2C2E3F;
}

.price__type-list {
  margin: 0;
  margin-bottom: 54px;
  padding-top: 30px;
  padding-left: 30px;
  list-style: none;
  border-top: 1px solid rgba(44, 46, 63, 0.3);
  &--economical {
    margin-bottom: 39px;
  }
}

.price__type:hover .price__type-list {
  border-top-color: #FE7865;
}

.price__type-item {
  margin-bottom: 15px;
  font-size: 16px;
  line-height: 32px;
  font-weight: normal;
  font-style: normal;
  color: #2C2E3F;
  position: relative;
  &:last-child {
    margin-bottom: 0;
  }
  &::before {
    content: "";
    width: 14px;
    height: 12px;
    background-image: url("../../img/orange-check.svg");
    background-repeat: no-repeat;
    top: 10px;
    left: -29px;
    position: absolute;
  }
}

.price__type:hover .price__type-item::before {
  width: 22px;
  height: 22px;
  background-image: url("../../img/black-check.svg");
  top: 4px;
  left: -32px;
}

.price__type-button {
  width: 100%;
  padding-top: 30px;
  padding-bottom: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #FE7865;
  border: none;
  font-size: 12px;
  line-height: 15px;
  font-weight: bold;
  font-style: normal;
  text-transform: uppercase;
  color: #FFFFFF;
  letter-spacing: 2px;
  &:hover {
    background-color: #F17D4B;
    cursor: pointer;
  }
  &:active {
    color: rgba(255, 255, 255, 0.6)
  }
}

@media (max-width: @tablet-width) {
  .price__container {
    width: 100%;
    margin: 0 auto;
    padding: 0;
    padding-top: 79px;
    justify-content: space-evenly;
  }

  .price__about {
    width: 100%;
    margin-bottom: 30px;
    margin-right: 0;
    margin-left: auto;
    padding-top: 0;
    order: 0;
  }

  .price__about-title {
    width: 158px;
    margin: 0 auto;
    margin-bottom: 20px;
    font-size: 30px;
    line-height: 45px;
    text-align: center;
    &::after {
      display: none;
    }
  }

  .price__about-description {
    width: 726px;
    margin: 0 auto;
    margin-bottom: 33px;
    text-align: center;
  }

  .price__contact {
    width: 200px;
    margin: 0 auto;
    padding: 0;
  }

  .price__contact-title {
    font-size: 18px;
    text-align: center;
  }

  .price__contact-tel {
    display: block;
    font-size: 18px;
    text-align: center;
    color: #FE7865;
    text-decoration: underline;
    &::before {
      display: none;
    }
  }

  .price__type {
    width: 288px;
    margin-right: 0;
    padding-top: 25px;
    padding-right: 0;
    padding-bottom: 0;
    padding-left: 0;
    border-bottom: none;
  }

  .price__type-title {
    width: 248px;
    margin: 0 auto;
    margin-bottom: 10px;
    justify-content: center;
    font-size: 24px;
    letter-spacing: normal;
  }

  .price__type-description {
    width: 248px;
    margin: 0 auto;
    margin-bottom: 9px;
    text-align: center;
  }

  .price__type-name {
    width: 100%;
    margin-bottom: 6px;
    font-size: 24px;
    text-align: center;
  }

  .price__type-list {
    margin-right: 20px;
    margin-bottom: 39px;
    margin-left: 20px;
    padding-top: 20px;
    &--economical {
      margin-bottom: 28px;
    }
  }

  .price__type-item {
    width: 218px;
    margin-bottom: 10px;
  }

  .price__type-button {
    width: 288px;
    padding-top: 19px;
    padding-bottom: 19px;
    font-size: 10px;
    line-height: 12px;
    font-weight: 500;
  }
}

@media (max-width: @mobile-width) {
  .price__container {
    align-items: baseline;
    padding-top: 45px;
    padding-right: 16px;
    padding-left: 16px;
  }

  .price__about {
    margin-bottom: 40px;
  }

  .price__about-title {
    width: 100%;
    font-size: 24px;
    line-height: 36px;
  }

  .price__about-description {
    width: 100%;
    margin-bottom: 20px;
  }

  .price__contact {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .price__contact-title {
    margin-bottom: 10px;
  }

  .price__type {
    margin-bottom: 30px;
    &:last-child {
      margin-bottom: 0;
    }
  }

}
