.price__container {
  width: 1180px;
  margin: 0;
  margin-right: 365px;
  margin-left: 375px;
  padding-top: 239px;
  display: flex;
}

.price__about {
  margin-right: 0;
  margin-left: auto;
  padding-top: 112px;
  order: 3;
}

.price__about-title {
  margin: 0;
  margin-bottom: 48px;
  font-size: 55px;
  line-height: 90px;
  font-weight: 600;
  font-style: normal;
  color: #2C2E3F;
}

.price__about-description {
  width: 299px;
  margin: 0;
  margin-bottom: 60px;
  font-size: 16px;
  line-height: 27px;
  font-weight: normal;
  font-style: normal;
  color: rgba(44, 46, 63, 0.7);
}

.price__contact {
  padding-left: 46px;
}

.price__contact-title {
  margin: 0;
  margin-bottom: 13px;
  font-size: 22px;
  line-height: 34px;
  font-weight: 500;
  font-style: normal;
  color: #141517;
}

.price__contact-tel {
  font-size: 20px;
  line-height: 32px;
  font-weight: normal;
  font-style: normal;
  color: #000000;
  text-decoration: none;
}

.price__type {
  width: 370px;
  margin-right: 30px;
  padding-top: 38px;
  padding-right: 30px;
  padding-bottom: 30px;
  padding-left: 27px;
  border: 1px solid rgba(44, 46, 63, 0.3);
  border-radius: 6px;
  &:hover {
    border: 3px solid #FE7865;
  }
}

.price__type-title {
  width: 310px;
  margin: 0;
  margin-bottom: 40px;
  font-size: 28px;
  line-height: 38px;
  font-weight: 600;
  font-style: normal;
  color: rgba(20, 21, 23, 0.7);
  letter-spacing: -1.3px;
}

.price__type-count {
  font-size: 25px;
  font-weight: bold;
  font-style: normal;
}


.price__type-description {
  width: 289px;
  margin: 0;
  margin-bottom: 28px;
  font-size: 16px;
  line-height: 24px;
  font-weight: normal;
  font-style: normal;
  color: #2C2E3F;
}

.price__type-list {
  margin: 0;
  margin-bottom: 54px;
  padding-top: 30px;
  padding-left: 30px;
  list-style: none;
  border-top: 1px solid #FE7865;
}

.price__type-item {
  margin-bottom: 15px;
  font-size: 16px;
  line-height: 32px;
  font-weight: normal;
  font-style: normal;
  color: #2C2E3F;
  &:last-child {
    margin-bottom: 0;
  }
}

.price__type-button {
  width: 310px;
  padding-top: 30px;
  padding-bottom: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #FE7865;
  border: none;
  font-size: 12px;
  line-height: 15px;
  font-weight: bold;
  font-style: normal;
  text-transform: uppercase;
  color: #FFFFFF;
  letter-spacing: 2px;
}
